@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    background-color:#eceef3;
    font-family: 'Open Sans', sans-serif;
}

header {
    .top-bar {
        background: #fff;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 28px 20px 20px;

        .logo {
            img {
                width: 38px;
            }
        }

        .user-info {
            font-size: 24px;
            color: #616161;

            .points {
                background-color: #ededed;
                background-image: url(./../assets/icons/coin.svg);
                background-repeat: no-repeat;
                background-position: 100% 60%;
                padding: 10px 40px 10px 20px;
                border-radius: 10px;

            }
        }
    }    

    .hero {
        background: #fff url(./../assets/images/header-x1.png) no-repeat;
        background-size: cover;
        height: 412px;
        position: relative;

        .title {
            position: absolute;
            color: #fff;
            left: 132px;
            bottom: 48px;
            font-size: 64px;
            font-weight: bold;
        }
    }
}

.catalog-container {
    background: #f9f9f9;
}

.catalog {
    max-width: 90%;
    margin: 0 auto;

    .tools {
        display: flex;
        border-bottom: 1px solid #d9d9d9;
        padding: 30px 0;
        margin-bottom: 40px;
        
        .pager {
            font-size: 24px;
            color: #616161;
            padding-right: 40px;
            border-right: 1px solid #d9d9d9;
        }
        .filters {
            padding-left: 40px;

            .filter {
                margin-right: 40px;
                label {
                    font-size: 24px;
                    color: #a3a3a3;
                    margin-right: 15px;
                }
            }
        }
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        
        .product {
            padding: 55px 12px 12px;
            background: #fff;
            margin-right: 20px;
            margin-bottom: 20px;
            width: 22%;
            box-sizing: border-box;
            position: relative;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .image {
                    background: #fff url(./../assets/images/loader.gif) no-repeat center center;
                    width: 252px;
                    height: 182px;
                    margin-bottom: 45px;

                    img {
                        max-width: 100%;
                    }
                }

                .text {
                    border-top: 1px solid #d9d9d9;
                    width: 90%;
                    padding: 10px 0;
                    .category {
                        font-size: 16px;
                        color: #a3a3a3;
                    }

                    .name {
                        font-size: 18px;
                        color: #616161;
                    }
                }
            }

            .redeem {
                position: absolute;
                right: 5%;
                top: 5%;
                width: 42px;
                height: 42px;

                &.missing {
                    color: #fff;
                    font-size: 14px;
                    width: auto;
                    height: auto;
                    padding: 10px 40px 10px 15px;
                    border-radius: 20px;
                    background: rgba(0,0,0,0.3) url(./../assets/icons/coin.svg) no-repeat 95% 60%;
                    background-size: 25px;
                }
            }
        }
    }
}